body{
    margin: 0px;
    padding: 0px;
    background-color: #012030;
    color: white;
}

header{
    background: linear-gradient(to left, #008F8C,#015958, #023535);
    margin: 0px;
    padding: 10px;
    color: white;
}

#img-header{
    margin: auto;
    display: block;
}

.h1-header{
    display: flex;
    justify-content: center;
    margin: center;
    padding: 10px;
    align-items: center;
    font-family: fantasy;
    font-size: 3.5rem;
}

.h2-header{
    display: flex;
    justify-content: center;
    margin: center;
    padding: 10px;
    align-items: center;
    font-size: 2.2rem;
    
}
.introducao-site{
    margin: center;
    text-align: center;
    font-size: 1.1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 700px;
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
    background-color: #327355;
    color: white;
    border: 10px solid #014034;
    
}

.navlink:hover{
    background-color: #173540;
}

.navul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-right: 50px;
}

.navli{
    list-style: none;
}

.navlink{
    text-decoration: none;
    font-size: 2rem;
    color: white;
    padding: 15px;
}

.big-container {
    display: flex;
    justify-content: center;
}

.h2-produtos, .h2-servicos, .h2-center, .h2-contatos{
    text-align: center;
    background-color:#173540 ;
    font-size: 1.7rem;
}


.produto, .canudo {
    width: 250px;
    background-color: #2f3f0d;

}

.products-img1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    flex-wrap: wrap;
    gap: 30px   ;
    background-color: #265C4B;
    border-radius: 10px;
}

.description{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6rem;
}
.canudo{
    width: 250px;
    height: 250px;
}

.ul-servicos{
    background-color: #041b24;
    display: flex;
    justify-content: center;
    margin: 0px; 
    padding: 10px;
    gap: 60px;
    font-size: 1rem;
}

#img-services{
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;

}


.avaliacoes{
    background-color: #327355;
    width: 400px;
    padding: 25px;
    border-radius: 25px;
    border: solid 2px black;
}

.container-av {
    display: flex;
    justify-content: center;
}

.av {
    gap: 30px;
    display: flex;
    justify-content: center;
    width: 1000px;
    flex-wrap: wrap;
}

.seilaporra {
    display: flex;
    justify-content: center;
}

.avaliacoes {
    transition: all .3s;
}

.avaliacoes:hover {
    margin-top: -20px;
}


.text-avaliacao{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    
}

footer{
    background-color: black;
    color: white;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    margin-bottom: 0px;
    
}
.text-blog{
    background-color: #A62B1F;
    color: #d3c48d;
    margin: center;
    text-align: center;
    font-size: 1.2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 900px;
    border-radius: 35px;
    padding: 5px 15px 5px 15px;
    border: 5px solid #2D5731;
    
}

.h2-blog {
    background-color: #173540;
    text-align: center;
    font-size: 1.6rem;
}

#blog{
    justify-content: center;
    align-items: center;
}

.blog-container{
    display: flex;
    justify-content: center;
}

.p-contatos{
    background-color: #161F30;
    color: white;
    border-radius: 10px;
    border: solid #005C53 10px;
    width: 500px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
}

.container-contatos{
    display: flex;
    justify-content: center;
}
.contatos{
    background-color: #16232E;   
    color: white;
    font-size: 1.5rem;    
    text-align: center;
}


